body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #takeAttendanceButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #takeAttendanceButton:hover {
    background-color: #45a049;
  }
  
  #video {
    margin-top: 20px;
    border: 2px solid #333;
  }
  
  #resultMessage {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  #studentInfo {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
  }
  
  #studentInfo p {
    margin: 5px 0;
  }

/* body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* canvas {
    position: absolute;
}

video {
    position: absolute;
} */

/* .success-message {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
  } */
