body {
    font-family: 'Arial', sans-serif;
    background-color: #EBE9E9;
    color: #3581B8;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FCB07E;
}

div {
    background-color: #F3F8F2;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #3581B8;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #3581B8;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #3581B8;
    color: #F3F8F2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FCB07E;
}

#attendanceData {
    background-color: #F3F8F2;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #3581B8;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3581B8;
    color: #F3F8F2;
}
