body {
  font-family: Arial, sans-serif;
  background-color: #dee2d6;
  margin: 0;
  padding: 0;
}

.sidebar {
  height: 100%;
  width: 255px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3581b8;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
  transition: margin-left 0.3s;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ddd;
  display: block;
}

.sidebar a:hover {
  color: #fff;
  background: #575757;
}

.sidebar-closed {
  margin-left: -250px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  margin-right: 10px;
}

.website-name {
  color: #ebe9e9;
  font-size: 22px;
  font-family: Impact, fantasy;
}

.menu li {
  list-style: none;
  margin-bottom: 10px;
}

.main-content {
  margin-left: 240px;
  padding: 15px;
  padding-top: 75px;
  transition: margin-left 0.3s;
}

.sidebar-closed ~ .main-content {
  margin-left: 0;
}

.main-content h1 {
  margin-left: 20px;
}

.main-content h2 {
  color: #333;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .main-content {margin-left: 0;}
}

.main-header {
  background-color: #fcb07e;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 255px;
  right: 0;
  height: 40px;
  z-index: 1000;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  transition: left 0.3s;
}

.profile-container {
  position: relative;
  float: right;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  order: 1;
}

.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.profile-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.profile-dropdown a:hover {
  background-color: #f1f1f1;
}

.profile-container:hover .profile-dropdown {
  display: block;
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  left: 210px;
  z-index: 2;
}

#sidebar-toggle-btn {
  background: #fcb07e;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  display: block;
  min-width: 60px;
  text-align: left;
  order: -1;
}

.sidebar {
  padding-top: 0;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ddd;
  display: block;
}

.sidebar a i {
  margin-right: 8px;
}

@media screen and (max-width: 600px) {
  .sidebar-toggle {
    display: none;
  }
}

.footer {
  text-align: center;
  padding: 10px 0;
  color: #333;
}

.footer p {
  margin: 0;
  padding: 4px;
}

.footer hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 10px;
}
/* Card Styles */
.card {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  text-align: center; /* Aligns all contents of the card to the center */
}
