/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Colors */
:root {
  --background: #EBE9E9;
  --container-bg: #F3F8F2;
  --nav-bg: #FCB07E;
  --nav-text: #DEE2D6;
  --nav-hover: #eee;
  --dashboard-bg: #F3F8F2;
  --button-bg: #3581B8;
  --button-text: #DEE2D6;
  --box-bg: #F3F8F2;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --course-bg: #DEE2D6;
  --box-hover: rgba(0, 0, 0, 0.842);
}

/* Body styles */
body {
  background: var(--background);
}

/* Container styles */
.container {
  display: flex;
  min-height: 100vh;
}

/* Navigation styles */
nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: var(--nav-bg);
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px var(--box-shadow);
}

nav ul {
  list-style: none;
  padding-top: 10px;
}

nav a {
  position: relative;
  color: var(--nav-text);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

nav a:hover {
  background: var(--nav-hover);
}

nav .logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

nav .logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

nav .logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

/* Dashboard styles */
.dashboard {
  flex-grow: 1;
  background: var(--dashboard-bg);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* User Info styles */
#userInfo {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow);
}

/* Button styles */
.buttongenerateQR button {
  background: var(--button-bg);
  color: var(--button-text);
  padding: 7px 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* Main Section styles */
.main {
  position: relative;
  padding: 20px;
  width: 100%;
}

/* Main Skills styles */
.main-skills {
  display: flex;
  margin-top: 20px;
}

.main-skills .card {
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px var(--box-shadow);
}

.main-skills .card button {
  background: var(--button-bg);
  color: var(--button-text);
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.main-skills .card button:hover {
  background: var(--box-hover);
}

/* Courses styles */
.main-course {
  margin-top: 20px;
  text-transform: capitalize;
}

.course-box {
  width: 100%;
  height: 300px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: var(--course-bg);
  border-radius: 10px;
  box-shadow: 0 20px 35px var(--box-shadow);
}

.course-box ul {
  list-style: none;
  display: flex;
}

.course-box ul li {
  margin: 10px;
  color: gray;
  cursor: pointer;
}

.course-box ul .active {
  color: #000;
  border-bottom: 1px solid #000;
}

.course-box .course {
  display: flex;
}

.box {
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: var(--box-bg);
  box-shadow: 0 20px 35px var(--box-shadow);
}

.box button {
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box button:hover {
  background: var(--box-hover);
}

.box i {
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}

/* Skill colors */
.html {
  color: rgb(25, 94, 54);
}

.css {
  color: rgb(104, 179, 35);
}

.js {
  color: rgb(28, 98, 179);
}